@charset "UTF-8"

.btn
{
  font-weight: bold;
  text-align: center;
  -webkit-appearance: none;
  -webkit-border-radius: 0;
  width: 60px;
  height: 38px;
  border: 1px solid #765;
  border-radius: 70px;
  -moz-border-radius: 70px;
  -webkit-border-radius: 70px;
  padding: 30px 30px 30px 30px;
}

.col1
{
  background-color: #eebbcb;
}

.col2
{
  background-color: #c1e4e9;
}

.col3
{
  background-color: #aacf53;
}

.l
{
  float: left;
  
}

.r
{
  float: right;
}

.cool
{
  border: 1px solid lightcoral;
  padding: 5px;
  width: 100px;
}
