@charset "UTF-8"

body
{
  background-color: PeachPuff;
}

.btn
{
  -webkit-appearance: none;
  -webkit-border-radius: 0;
  width: 60px;
  height: 38px;
  border: 1px solid #765;
  text-align: center;
  border-radius: 70px;
  -moz-border-radius: 70px;
  -webkit-border-radius: 70px;
  padding: 42px 15px 100px;
}

.col1
{
  background-color: #eebbcb;
}

.col2
{
  background-color: #c1e4e9;
}

.col3
{
  background-color: #aacf53;
}
